//style

html,
body {
    height: 100%;
    font-family: Gilroy, serif;
    font-weight: 300;
    font-size: calc(.5em + .5vw);
}
.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 425px) {
    html,
    body {
        font-size: 12px;
    }
    .container {
        padding: 0 5px;
    }
}

@media (min-width: 1440px) {
    html,
    body {
        font-size: calc(.5em + .40vw);
    }
}